* {
  box-sizing: border-box;
}

.button {
  width: 80px;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 14px -3px 24px -11px rgba(66, 68, 90, 1);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(155, 47, 141, 0.511);
}
